* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s linear;
}

:root {
    --dark-blue: rgb(76, 69, 119);
    --red: rgb(221, 146, 89);
    --blue: rgb(52, 10, 148);
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    overflow-x: hidden;
    font-size: 70%;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 1rem 8%;
    padding-top: 4rem;
}

.heading {
    text-align: center;
    color: var(--dark-blue);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(166, 181, 181);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1000;
}

footer {
    width: 100%;
}

header .logo {
    font-size: 2.5rem;
    color: var(--blue);
}

header span {
    color: var(--red);
}

header .navbar a {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

header .navbar .action,
header .navbar a:hover {
    background-color: var(--dark-blue);
    color: #fff;
}

#menu {
    font-size: 3rem;
    color: var(--blue);
    display: none;
}

.home {
    background-image: url(./images/home-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home .content {
    text-align: center;
    margin-top: 3rem;
}

.home .content h1 {
    font-size: 5rem;
    color: var(--dark-blue);
}

.home .content h3 {
    font-size: 4rem;
    color: var(--blue);
    font-weight: normal;
}

.home .content .btn {
    display: inline-block;
    padding: .7rem 3rem;
    color: #fff;
    background-color: var(--blue);
    border-radius: .5rem;
    box-shadow: o .5rem 1rem rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-size: 1.7rem;
}

.home .content .btn:hover {
    background-color: var(--dark-blue);
}

.prevent .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prevent .box-container .box {
    flex: 1 1 30rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.prevent .box-container .box img {
    height: 12rem;
    padding: 1rem;
}

.prevent .box-container .box h3 {
    color: var(--blue);
    font-size: 2rem;
}

.prevent .box-container .box p {
    color: var(--dark-blue);
    font-size: 1.5rem;
    padding: .5rem;
}

.prevent .box-container .box:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

.symptoms {
    background-image: url(./images/background-img.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.symptoms .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.symptoms .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.symptoms .box-container .box {
    flex: 1 1 19rem;
    text-align: center;
    background-color: rgb(185, 212, 242);
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.symptoms .box-container .box img {
    height: 12rem;
    padding: 1rem;
}

.symptoms .box-container .box h3 {
    color: var(--blue);
    font-size: 2rem;
}

.symptoms .box-container .box p {
    color: var(--dark-blue);
    font-size: 1.5rem;
    padding: .5rem;
}

.symptoms .box-container .box:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

.precautions {
    background-color: transparent;
}

.precautions .column {
    display: flex;
    justify-content: center;
}

.precautions .column .box-container {
    margin: 1.5rem;
    flex: 1 1 50rem;
    border: 1rem solid rgba(9, 3, 6, 0.4);
}

.precautions .column .box-container .title {
    padding: 1.5rem .5rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--dark-blue);
    color: #fff;
}

.precautions .column .box-container:last-child .title {
    background-color: var(--red);
}

.precautions .column .box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.precautions .column .box-container .box .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.precautions .column .box-container .box img {
    width: 10rem;
}

.precautions .column .box-container .box .info h3 {
    color: var(--blue);
    font-size: 2rem;
    padding: .5rem;
}

.precautions .column .box-container .box .info p {
    font-size: 1rem;
    padding: o 1rem;
}

.precautions .column .box-container .box:hover {
    transform: scale(1.2);
}

.handwash .column {
    display: flex;
    justify-content: center;
}

.handwash .column .main-wash img {
    width: 30rem;
}

.handwash .column .box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.handwash .column .box-container .box {
    flex: 1 1 20rem;
    text-align: center;
    padding: .7rem 1rem;
    border-radius: 20%;
}

.handwash .column .box-container .box img {
    width: 12rem;
    padding: 0 .4rem;
}

.handwash .column .box-container .box {
    color: var(--dark-blue);
    font-size: 1.5rem;
    padding-top: .5rem;
}

.handwash .column .box-container .box:hover {
    box-shadow: 2px 2px 6px rgb(248, 103, 6), -2px -2px 6px rgb(45, 179, 252);
}

.doctor .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doctor .box-container .box {
    flex: 1 1 30rem;
    margin: 2rem 1rem;
    border-radius: 2rem;
    text-align: center;
    padding: .7rem 1rem;
    background-color: rgb(188, 206, 214);
}

.doctor .box-container .box img {
    width: 25rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(44, 11, 68);
}

.doctor .box-container .box h3 {
    color: var(--red);
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.doctor .box-container .box span {
    font-size: 1.2rem;
    color: var(--blue);
    margin-bottom: 1rem;
}

.doctor .box-container .box .share {
    border: no;
    background-color: grey;
    border-radius: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}

.doctor .box-container .box .share a {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    margin: .2rem;
    background: #eee;
    color: var(--dark-blue);
    transition: 1s;
}

.doctor .box-container .box .share a:hover {
    transform: rotate(360deg);
    background-color: rgb(44, 11, 68);
    color: white;
}

.footer {
    background-position: center;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 25rem;
    text-align: center;
    margin: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}

.scroll {
    position: fixed;
    bottom: 7.5rem;
    right: 1.5rem;
}

.scroll img {
    width: 8rem;
    animation: flat 3s linear infinite;
}

@keyframes flat {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-3rem);
    }
}


/*media queri*/

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .symptoms .column {
        display: flex;
        flex-direction: column;
    }
    .symptoms .column .main-img img {
        height: 30rem;
    }
    .precautions .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .precautions .column .box img {
        width: 25rem;
    }
}

@media(max-width:991px) {
    html {
        font-size: 50%;
    }
    #menu {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        border-top: .1rem solid rgba(0, 0, 0, 0.1);
        transition: .5s;
    }
    header .navbar a {
        display: block;
        margin: 1.7rem;
    }
    .footer .box-container .box {
        flex: 1 1 30rem;
        text-align: center;
        margin: 2rem;
    }
}

.footer h1 {
    text-align: center;
    color: white;
    border-top: 1px solid var(--blue);
    padding: 1rem;
}

@media (max-width:760px) {
    html {
        font-size: 45%;
    }
    .home .content h1 {
        font-size: 4rem;
    }
    .home .content h3 {
        font-size: 3rem;
    }
}

@media (max-width:490px) {
    html {
        font-size: 40%;
    }
    .home .content h1 {
        font-size: 3rem;
    }
    .home .content h3 {
        font-size: 2rem;
    }
}

@media (max-width:300px) {
    html {
        font-size: 30%;
    }
    .home .content h1 {
        font-size: 2rem;
    }
    .home .content h3 {
        font-size: 1rem;
    }
}